body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.3s;
}

.content {
    margin-top: 80px; /* Adjust margin-top based on your navbar height */
    padding: 20px;
    height: 1500px; /* Just for demonstration */
}
